<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString"
            connectionString="Data Source=BONILLA\SQLSERVER2008R2;Initial Catalog=SAGAS;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString1"
            connectionString="Data Source=BONILLA\SQLSERVER2008R2;Initial Catalog=SAGAS;Persist Security Info=True;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString2"
            connectionString="Data Source=WIN-SERVER\SQLEXPRESS2008R2;Initial Catalog=SAGAS;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString3"
            connectionString="Data Source=192.168.206.2\SQLEXPRESS2008R2;Initial Catalog=SAGAS;Persist Security Info=True;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString4"
            connectionString="Data Source=165.98.186.14\SQLEXPRESS2008R2;Initial Catalog=SAGAS;Persist Security Info=True;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString5"
            connectionString="Data Source=165.98.186.14\SQLEXPRESS2008R2;Initial Catalog=SAGAS;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASDevelopmentConnectionString"
            connectionString="Data Source=WIN-SERVER\SQLEXPRESS2008R2;Initial Catalog=SAGASDevelopment;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString6"
            connectionString="Data Source=161.0.36.74\SQLEXPRESS2008R2;Initial Catalog=SAGAS;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString7"
            connectionString="Data Source=BONILLAL\SQLSERVER2008R2;Initial Catalog=SAGAS;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString8"
            connectionString="Data Source=BONILLAL\SQLSERVER2008R2;Initial Catalog=SAGAS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASDevelopmentConnectionString1"
            connectionString="Data Source=BONILLAL\SQLSERVER2008R2;Initial Catalog=SAGASDevelopment;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString9"
            connectionString="Data Source=161.0.36.74;Initial Catalog=SAGAS;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString10"
            connectionString="Data Source=BONILLAL\SQLSERVER2014;Initial Catalog=SAGAS;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString11"
            connectionString="Data Source=SAFIEROPC;Initial Catalog=SAGAS;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString12"
            connectionString="Data Source=DESARROLLOBL-PC;Initial Catalog=SAGAS;User ID=sa;Password=2303"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGAS_DevConnectionString"
            connectionString="Data Source=SAGAS;Initial Catalog=&quot;SAGAS Dev&quot;;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGAS_DevConnectionString1"
            connectionString="Data Source=192.168.206.2;Initial Catalog=&quot;SAGAS Dev&quot;;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString13"
            connectionString="Data Source=192.168.206.2;Initial Catalog=SAGAS;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGASConnectionString14"
            connectionString="Data Source=SAFIEROPC;Initial Catalog=SAGAS;Persist Security Info=True;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGAS_DevConnectionString2"
            connectionString="Data Source=192.168.206.2;Initial Catalog=&quot;SAGAS Dev&quot;;User ID=sa;Password=pa$$w0rd;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGAS6_DevConnectionString"
            connectionString="Data Source=192.168.206.2;Initial Catalog=&quot;SAGAS6 Dev&quot;;User ID=sa;Password=pa$$w0rd;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="SAGAS.Entidad.Properties.Settings.SAGAS6_DevConnectionString1"
            connectionString="Data Source=192.168.206.2;Initial Catalog=&quot;SAGAS6 Dev&quot;;User ID=sa;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
